---
import BlogLayout from '../../layouts/BlogLayout.astro';
import { getEntryBySlug } from 'astro:content';

const { slug } = Astro.params;
const post = await getEntryBySlug('blog', slug);

if (!post) {
  throw new Error(`Post not found: ${slug}`);
}
---

<BlogLayout title={post.data.title}>
  <article>
    <h1>{post.data.title}</h1>
    <p>{post.data.pubDate}</p>
    <div innerHTML={post.body} />
  </article>
</BlogLayout>
